.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  .form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form label {
    display: block;
    margin-bottom: 15px;
  }
  
  .form input,
  .form select,
  .form .cardElement {
    width: calc(100% - 5px);
    padding: 20px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form button {
    width: calc(100% - 10px);
    padding: 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    box-sizing: border-box;
  }
  
  .form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  